<div class="container">
	<header> <!-- Transformer header en directive ? -->
		<div class="header-title">
			<h2><a ui-sref="home">Accueil</a></h2>
			<p>Tous les projets</p>
		</div>
		<div class="btn-window">			
			<a ui-sref="new-project">
				<p >Ajouter un projet</p>
				<i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
			</a>
		</div>
	</header>
	<div class="clearfix"></div>

	<!-- FILTRES -->
	<form id="form-filters" class="row">
		<!-- filtres -->
		<div id="selects-filters" class="col-lg-8">	
			<div>
				<p class="legend">Tous</p>
				<a href="#" ng-click="home.resetFilters()"><i class="fa fa-th fa-lg" aria-hidden="true"></i></a>	
			</div>
			<div>
				<label class="legend">Domaine</label>
				<select name="" id="selectDomain" ng-model="home.filterValue.domainsSelected">
					<option value="Webdesign" selected>Webdesign</option>
					<option value="Print">Print</option>
					<option value="Developpement">Développement</option>
					<option value="Motiondesign">Motion Design</option>
				</select>	
			</div>
			<div>
				<label class="legend">Auteur</label>
				<select name="" id="selectAuthor" ng-model="home.filterValue.authorsSelected">
					<option value="Jérôme" selected>Jérôme</option>
					<option value="Katell">Katell</option>
					<option value="Sabrina">Sabrina</option>
					<option value="Pascal">Pascal</option>
					<option value="Laëtitia">Laëtitia</option>
					<option value="Claire">Claire</option>
					<option value="Matthias">Matthias</option>
					<option value="Victor">Victor</option>
				</select>	
			</div>
			<div>
				<label class="legend">Client</label>
				<select id="selectClient" ng-model="home.filterValue.client">
					<option value="France Alzheimer" selected>France Alzheimer</option>
					<option value="Warner Bros">Warner Bros</option>
					<option value="Eden Traiteur">Eden Traiteur</option>
					<option value="Tag Barber Shop">Tag Barber Shop</option>
					<option value="M6 Publicité">M6 Publicité</option>
					<option value="TF1-Téléshopping">TF1-Téléshopping</option>
					<option value="Harveston">Harveston</option>
				</select>	
			</div>		
		</div><!-- ./ end selects-filters -->
	</form><!-- ./ end filters -->


	<!-- Affichage projets -->
	<ul id="home-ul-projects">
		
		<li ng-repeat="projet in home.projets | filter : home.filterValue : home.checkAuthor">
			<a href="/#/view-proj/{{projet.id}}">
			<div class="project-img">
				<img ng-src="src/img/{{projet.projectImg}}" alt="Photo du projet">
			</div>
			<div class="project-title">
				<h3>{{projet.title}}</h3>
				<p>{{projet.domainsSelected.join(', ')}}</p>
			</div>
			<div class="project-details">
				<div>
					<p class="legend">Client : </p>
					<p class="bold">{{projet.client}}</p>
				</div>
				<div>
					<p class="legend">Deadline :</p> 
					<p class="bold">{{projet.endDate | date: 'dd/MM/yyyy'}}</p>
				</div>
				
			</div>	
			<div class="project-author">
				<div ng-repeat="author in projet.authorsSelected">
					<div>
						<p>{{autor.name}}</p>
					
					<img ng-src="src/img/{{author.frame}}" alt="{{author.name}}"/>
					</div>
				</div>
			</div>	
		</a>		
		</li>		
	</ul>
	

</div><!-- ./ end .container -->