<div class="container" id="vp-view" ng-controller="viewProjCtrl as vproj">
	<header> <!-- Transformer header en directive ? -->
			<div class="header-title">
				<h2>Projet</h2>
				<p>Visualiser le projet</p>
			</div>
			<div class="btn-window">
				<a ui-sref="home">
					<p>Fermer</p>				
				<i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</header>

	<!-- BLOC 1 -->
	<article class="row">
		<div class="col-md-6">
				<div class="project-title">
					<h4>{{vproj.projet.title}}</h4>
					<p>{{vproj.projet.domainsSelected.join(', ')}}</p>
				</div>
				<div class="project-details">
					<div>
						<p class="legend">Client</p>
						<p>{{vproj.projet.client}}</p>
					</div>
					<div>
						<p class="legend">Début</p>
						<p>{{vproj.projet.startDate | date: 'dd/MM/yyyy'}}</p>
					</div>
					<div>
						<p class="legend">Deadline</p>
						<p>{{vproj.projet.endDate | date: 'dd/MM/yyyy'}}</p>
					</div>
			</div>
		</div><!-- ./end bloc gauche-->
		<div class="col-md-6 project-img">
				<img ng-src="src/img/{{vproj.projet.projectImg}}" alt="Image du projet">
		</div><!-- ./end bloc droite-->
	</article>

	<!-- BLOC 2 & 3-->
	<div class="row">
		<div class="col-md-9">
			<div class="vp-brief">
				<p class="legend">Brief / Commentaire</p>
				<p>{{vproj.projet.brief}}</p>
			</div>

		</div><!-- ./end col-md-9 -->
		<div class="col-md-3 ">
			<div class="vp-authors">
				<p class="legend">Auteur(s) du projet</p>
				<div ng-repeat="author in vproj.projet.authorsSelected">
					<div><img ng-src="src/img/{{author.frame}}" alt="Photo de l'auteur"></div>
					<p>{{author.name}}</p>
				</div>
			</div>
		</div><!--./end col-md-3-->
	</div>

	<!-- -->

	<!-- BOUTON ENREGISTRER -->
	<div class="row">
		<div class="save-form col-lg-12" ng-show="vproj.showConfirmation">
			<p>Êtes vous sûr de vouloir supprimer définitivement ce projet ???</p>
			<div class="row">
				<div class="col-lg-6">
					<input type="button" ng-click="vproj.showConfirmation = false" value="Annuler">
				</div>
				<div class="col-lg-6">
					<input type="button" ng-click="vproj.remove()" value="Confirmer la suppression">
				</div>
			</div>
		</div>
		<div class="save-form col-lg-12" ng-hide="vproj.showConfirmation">
			<input type="button" ng-click="vproj.showConfirmation = true" value="Supprimer">	
		</div>
	</div>

</div><!-- ./end container -->