<div class="light-theme">
	<div class="container" ng-controller="CreateCtrl as create">
		
		<header> <!-- Transformer header en directive ? -->
			<div class="header-title">
				<h2>Nouveau projet</h2>
				<p>Éditer un nouveau projet</p>
			</div>
			<div class="btn-window">
				<a ui-sref="home">
					<p>Fermer</p>				
				<i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</header>
		<!-- <div class="clearfix"></div> -->
		

			<form  id="createForm" name="createForm" ng-submit="create.save()" class="col-lg-12">
				<div class="row">
					<!-- /// BLOC GAUCHE -->
					<div class="col-lg-9">
						<!-- Bloc INFOS-->
						<section id="infos-proj">
							<div class="titre">
								<label for="" class="legend">Titre du projet</label>
								<input type="text" placeholder="Nom du projet" ng-model="create.newProject.title">
							</div>
							<div class="checkboxDomain">
								<label for="" class="legend">Domaine</label>
								<fieldset>
									<label ng-repeat="domain in create.domains">
										<input 
										type="checkbox"
										checklist-model="create.newProject.domainsSelected"
										name="domain"
										checklist-value="domain"
										>
										{{domain}}
										
									</label>
									<!--<input 
									type="checkbox"
									checklist-model="create.newProject.domains[0]"
									name="domain"
									checklist-value="create.newProject.domains[0]"
									id="box1">
									<label for="box1">{{create.newProject.domains[0]}}</label> 

									<input 
									type="checkbox" 
									checklist-model="create.newProject.domains[1]" 
									name="domain" 
									checklist-value="create.newProject.domains[1]" 
									id="box2">
									<label for="box2">{{create.newProject.domains[1].toString()}}</label>

									<input type="checkbox" 
									checklist-model="create.newProject.domains[2]" 
									name="domain" checklist-value="create.newProject.domains[2]" 
									id="box3">
									<label for="box3">{{create.newProject.domains[2]}}</label>

									<input 
									type="checkbox" 
									checklist-model="create.newProject.domains[3]" 
									name="domain" checklist-value="create.newProject.domains[3]" 
									id="box4">
									<label for="box4">{{create.newProject.domains[3]}}</label>-->
						
								</fieldset>
							</div>
							<div class="client-delay">
								<div class="client">
									<label for="" class="legend">Client</label>
									<input type="text" placeholder="Nom du client" ng-model="create.newProject.client">
								</div>
								<div class="delay">
									<p class="legend">Délais</p>
									<div>
										<div>
											<p>Début</p>
											<md-datepicker ng-model="create.newProject.startDate" md-placeholder="Entrer une date"></md-datepicker>
										</div>
										<div>
											<p>Fin</p>
											<md-datepicker ng-model="create.newProject.endDate" md-placeholder="Entrer une date"></md-datepicker>
										</div>
									</div>								
								</div>
							</div>

						</section>
						<!-- Bloc BRIEF-->
						<section id="brief-proj">
							<label for="" class="legend">Brief / Commentaire</label>
							<textarea placeholder="Description du projet..." ng-model="create.newProject.brief">{{create.newProject.brief}}</textarea> 
						</section>
					</div><!-- ./end col-lg-9 -->

					<!-- /// BLOC DROITE -->
					<div class="col-lg-3">
						<!-- Bloc UPLOAD-->
						<section id="upload-proj">
							<div class="frame"><img src="./src/img/thumbnail_project_frame.gif" alt="Template Image du projet"></div>
							<div class="buttons">
								<a href=""><div><i class="fa fa-upload" aria-hidden="true"></i></div></a>
								<a href=""><div><i class="fa fa-trash" aria-hidden="true"></i></a>	
							</div>
						</section>
						<!-- Bloc AUTHORS -->
						<section id="authors-proj">
							<div><p class="legend">Auteur(s) du projet</p></div>
							<div class="authors-list">								
								<fieldset>
									<label ng-repeat="author in create.authors">
										<input 
										type="checkbox"
										checklist-model="create.newProject.authorsSelected"
										name="author"
										checklist-value="author"
										>
										{{author}}
										
									</label>

									<!-- <input type="checkbox" ng-model="create.checkBoxAuthors.jerome" ng-change="create.collect()" name="author" value="Jérôme" id="box-jerome">
									<label for="box-jerome">Jérôme <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.katell" name="author" value="Katell" id="box-katell">
									<label for="box-katell">Katell <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.sabrina" name="author" value="Sabrina" id="box-sabrina">
									<label for="box-sabrina">Sabrina <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.pascal" name="author" value="Pascal" id="box-pascal">
									<label for="box-pascal">Pascal <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.laetitia" name="author" value="Laëtitia" id="box-laetitia">
									<label for="box-laetitia">Laëtitia <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.claire" name="author" value="Claire" id="box-claire">
									<label for="box-claire">Claire <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.matthias" name="author" value="Matthias" id="box-matthias">
									<label for="box-matthias">Matthias <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.checkBoxAuthors.victor" name="author" value="Victor" id="box-victor">
									<label for="box-victor">Victor <i class="fa fa-check" aria-hidden="true"></i></label> -->
								</fieldset>
								
							</div>
						</section>
					</div><!-- ./ end col-lg-3-->						
				</div><!-- .row interieure form -->


				<!-- BOUTON ENREGISTRER -->
				<div class="row">
					<div class="save-form col-lg-12">
						<input type="submit" value="Enregistrer">			
					</div>
				</div>


			</form>	 
	</div><!-- ./ end .container-->			
</div>



