<div class="light-theme">
	<div class="container" ng-controller="CreateCtrl as create">
		
		<header> <!-- Transformer header en directive ? -->
			<div class="header-title">
				<h2>Nouveau projet</h2>
				<p>Éditer un nouveau projet</p>
			</div>
			<div class="btn-window">
				<a ui-sref="home">
					<p>Fermer</p>				
				<i class="fa fa-window-close fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</header>
		<!-- <div class="clearfix"></div> -->
		

			<form  id="createForm" action="" method="post" class="col-lg-12">
				<div class="row">
					<!-- /// BLOC GAUCHE -->
					<div class="col-lg-9">
						<!-- Bloc INFOS-->
						<section id="infos-proj">
							<div class="titre">
								<label for="" class="legend">Titre du projet</label>
								<input type="text" placeholder="Nom du projet" ng-model="create.newProject.title">
							</div>
							<div class="checkboxDomain">
								<label for="" class="legend">Domaine</label>
								<fieldset>
									<input type="checkbox" ng-model="create.newProject.domains.print" name="domain" value="print" id="box1"><label for="box1">Print</label> 
									<input type="checkbox" ng-model="create.newProject.domains.webdesign" name="domain" value="webdesign" id="box2"><label for="box2">Webdesign</label>
									<input type="checkbox" ng-model="create.newProject.domains.motiondesign" name="domain" value="motiondesign" id="box3"><label for="box3">Motion Design</label>
									<input type="checkbox" ng-model="create.newProject.domains.webdeveloppment" name="domain" value="webdeveloppement" id="box4"><label for="box4">Web Developpment</label>
									<!-- used to show when fieldset is focused <div class="focus"></div>-->
								</fieldset>
							</div>
							<div class="client-delay">
								<div class="client">
									<label for="" class="legend">Client</label>
									<input type="text" placeholder="Nom du client" ng-model="create.newProject.client">
								</div>
								<div class="delay">
									<p class="legend">Délais</p>
									<div>
										<div>
											<p>Début</p>
											<md-datepicker ng-model="date1" md-placeholder="Entrer une date"></md-datepicker>
										</div>
										<div>
											<p>Fin</p>
											<md-datepicker ng-model="date2" md-placeholder="Entrer une date"></md-datepicker>
										</div>
									</div>								
								</div>
							</div>

						</section>
						<!-- Bloc BRIEF-->
						<section id="brief-proj">
							<label for="" class="legend">Brief / Commentaire</label>
							<textarea placeholder="Description du projet...">{{create.newProject.brief}}</textarea> 
						</section>
					</div><!-- ./end col-lg-9 -->

					<!-- /// BLOC DROITE -->
					<div class="col-lg-3">
						<!-- Bloc UPLOAD-->
						<section id="upload-proj">
							<div class="frame"><img src="./src/img/thumbnail_project_frame.gif" alt="Template Image du projet"></div>
							<div class="buttons">
								<a href=""><div><i class="fa fa-upload" aria-hidden="true"></i></div></a>
								<a href=""><div><i class="fa fa-trash" aria-hidden="true"></i></a>	
							</div>
						</section>
						<!-- Bloc AUTHORS -->
						<section id="authors-proj">
							<div><p class="legend">Auteur(s) du projet</p></div>
							<div class="authors-list">								
								<fieldset>
									<input type="checkbox" ng-model="create.newProject.authors.jérôme" name="author" value="Jérôme" id="boxa">
									<label for="boxa">Jérôme <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.katell" name="author" value="Katell" id="boxb">
									<label for="boxb">Katell <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.sabrina" name="author" value="Sabrina" id="boxc">
									<label for="boxc">Sabrina <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.pascal" name="author" value="Pascal" id="boxd">
									<label for="boxd">Pascal <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.laëtitia" name="author" value="Laëtitia" id="boxe">
									<label for="boxe">Laëtitia <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.claire" name="author" value="Claire" id="boxf">
									<label for="boxf">Claire <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.matthias" name="author" value="Matthias" id="boxg">
									<label for="boxg">Matthias <i class="fa fa-check" aria-hidden="true"></i></label>
									<input type="checkbox" ng-model="create.newProject.authors.victor" name="author" value="Victor" id="boxh">
									<label for="boxh">Victor <i class="fa fa-check" aria-hidden="true"></i></label>
								</fieldset>
							</div>
						</section>
					</div><!-- ./ end col-lg-3-->						
				</div><!-- .row interieure form -->


				<!-- BOUTON ENREGISTRER -->
				<div class="row">
					<div class="save-form col-lg-12">
						<input type="submit" value="Enregistrer" ng-click="create.save()">			
					</div>
				</div>


			</form>	 
	</div><!-- ./ end .container-->			
</div>



